html, body{
	height: 100%;
}
body {
	/*background: lightblue;}*/
	align-items: center;
 background:radial-gradient(#0524A8,#04E2CA,#470AE1);
 display:flex;
}
.caja{

	background: green;
	border-radius: 50%;
	box-shadow: 0.5em 0.5em 0.5em rgba(0,0,0,0.5);
	height: 400px;
	margin: 0 auto;
	width: 20%;
	transition: all linear 3s;
}
.caja:hover{
	align-content: gold;
	border-radius: 0;
	cursor: pointer;
}
